body {
  text-align: center;
  align-items: center;;
}

.BinarySearch {
  padding: 10px;
}

.Visualisation {
  margin-top: 20px;
}

.Array {
  display: flex;
  width: 98%;
  justify-content: center;
  flex-wrap: wrap;
}

.ArrayElement {
  border: 1px solid #000000;
  padding: 10px;
  margin: 4px;
  opacity: 1;
  transition: opacity 0.5s;
  background-color: #5fb0fb;
  cursor: pointer;
  border-radius: 4px;
}


.inactive {
  opacity: 0.5;
  cursor: not-allowed;
}

.ArrayElement,
.inactive {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
